/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
@font-face {
  font-family: 'Spin-Cycle-OT';
  src: url('fonts/Spin-Cycle-OT.ttf') format('truetype');
}

:root {
    --primary-font: 'Source Sans Pro', sans-serif;
  --display-font: 'Spin-Cycle-OT', cursive;
  --primary-color: #FF6565;
  --background-dark: #1d1d1d;
  --text-color: #0a0a0a;
  --max-width: 1000px;
}

/* Body & Container */
body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  background-color: black;
  color: var(--text-color);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
}

/* What we do Section */
.hero {
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  text-align: center;
}
/* Hero Content */
.hero-content h1 {
    font-family: var(--display-font);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Hero Paragraph */
.hero-paragraph {
  margin-top: 40px;
  font-size: 0.95rem;
  line-height: 1.6;
  color: black;
}

/* Responsive Styles */
  .hero-content h1 {
    font-size: 1.8rem;
  }

  .hero-paragraph p {
    font-size: 0.85rem;
  }
  
  @media (max-width: 480px) {
  .icons {
    flex-direction: column;
    align-items: center;
  }
}

/* Icons */
.icons {
  display: flex;
  flex-wrap: wrap; /* Allows them to wrap on small screens */
  flex-direction: row; /* Ensures they are in a row */
  padding-top: 40px;
  justify-content: center;
  gap: 40px;
  margin-top: 40px
}
